@if (isStarted()) {
  <app-weather></app-weather>
} @else {
  <app-get-started></app-get-started>
}

<div>
  <button class="btn btn-info mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#moreInfoCollapse" aria-expanded="false" aria-controls="moreInfoCollapse">
    Plus d'information
  </button>
  <div class="collapse mt-2" id="moreInfoCollapse">
    <div class="card card-body">
      <p>Cette application vous permet de consulter les données météorologiques de différentes villes. Vous pouvez rechercher une ville, voir les conditions actuelles et les prévisions.</p>
      <button data-testid="approfondir" class="btn btn-secondary">Approfondir</button>
    </div>
  </div>
</div>
